{{define "sidebar"}}
<div class="sidebar-nav">

{{range .PageData.Widget}}
<div class="{{.Title}} well">
    <h3>{{.Title}}</h3>
    {{.Content}}
</div>
{{end}}

<div class="manager well">
    <h3>管理</h3>
{{if .PageData.User}}
    <div class="alert alert-success"><h4 class="alert-heading">欢迎你</h4>{{.PageData.User.Nickname}}</div>
    <ul class="nav nav-list">
        {{if .PageData.User.IsAdmin}}
            <li><a href="/article?action=manager">文章管理</a></li>
            <li><a href="/widget?action=manager">工具管理</a></li>
            <li>&nbsp;</li>
        {{end}}
        <li><a href="/user?action=logout">登出</a></li>
{{else}}
    <ul class="nav nav-list">
        <li><a href="/user?action=login">登录</a></li>
{{end}}
    </ul>
</div>

<div class="meta well">
    <h3>标签</h3>
    <p><i class="icon-pencil"></i> <a href="http://golang.org" title="Written by Go 1" alt="Written by Go 1">golang官网</a></p>
    <p><i class="icon-eye-open"></i> <a href="http://twitter.github.com/bootstrap/" title="Style: Bootstrap" alt="Style: Bootstrap">Style: Bootstrap</a></p>
    <p><i class="icon-gift"></i> <a href="https://github.com/fanflash/Gorbled/" title="Source Code" alt="Source Code">网站源码</a></p>
    <p><i class="icon-gift"></i> <a href="https://github.com/specode/Gorbled/" title="Source Code" alt="Source Code">原始源码</a></p>
</div>

</div>
{{end}}
